<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <table class="table table-hover">
            <h1>내 프로필</h1><br>
            개인정보 유출에 주의하세요
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>아이디</td>
                    <td>{{ profile["id"] }}</td>
                </tr> 
                <tr>
                    <td>상태메시지(한줄소개)</td>
                    <td>{{ profile["status_message"] }}</td>
                </tr>
                <tr>
                    <td>현재 아이피</td>
                    <td>{{ ip }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/my-profile-edit">수정</a>
    </div>
    </body>
</html>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      {% for message in messages %}
        alert('{{ message }}');
      {% endfor %}
    </script>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}