<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
  </head>
  <body>
	<div class="card align-middle" style="width:50rem; border-radius:20px;">
		<div class="card-title" style="margin-top:30px;"><h2 class="card-title text-center" style="color:#599cff; margin-bottom: -10px;">존재하지 않는 페이지입니다.</h2></div>
        <div class="card-body"></div>
	</div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <script>
      {% for message in messages %}
          alert("{{ message }}");
      {% endfor %}
      </script>
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  </body>
</html>
