<script src="https://code.jquery.com/jquery-latest.js"></script>
<input type="text" id="ip">
<input type="button" onclick="window.open('https\://www.ip-tracker.org/locator/ip-lookup.php?ip=' + $('#ip').val());" value="추적!">
<div id="result"></div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8112542064837410" crossorigin="anonymous"></script><script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "cd98fcfc8e2110";
    if(window.wcs) {
    wcs_do();
    }
</script>