<title>해시</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<textarea id="input"></textarea>
<select id="way">
    <option value="sha1">SHA1</option>
    <option value="sha256">SHA256</option>
    <option value="md5">MD5</option>
</select>
<br><br>결과 : <div id="output"></div>
<script>
last = "";
setInterval(function(e){
    if (last != $("#input").val() + $("#way").val()){
        if ($("#way").val() == "sha1")
            var hash = CryptoJS.SHA1($("#input").val());

        if ($("#way").val() == "sha256")
            var hash = CryptoJS.SHA256($("#input").val());
        
        if ($("#way").val() == "md5")
            var hash = CryptoJS.MD5($("#input").val());
        
        $("#output").text(CryptoJS.enc.Hex.stringify(hash));
        last = $("#input").val() + $("#way").val();
    }
});
</script>