<form method="POST" action="/kakaotalk" enctype="multipart/form-data">
  제목(필수) : <input type="text" name="title"/><br/>
  설명(필수) : <input type="text" name="description"/><br/>
  사진(선택) : <input type="file" accept=".jpg, .jpeg, .png" name="file"><br/>
  URL(필수)  :<input type="url" name="url"/><br/>
  <input type="submit">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
    </script>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
