<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>카톡 공유</title>
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
      Kakao.init('9110cc5f2159504e8844c4a23cea3929')
      function sendLinkDefault() {
        Kakao.Link.sendDefault({
        objectType: 'feed',
          content: {
            title: '{{ title }}',
            description: '{{ description }}',
            imageUrl: 'http://sol-studio.kro.kr:5000/{{ img_url }}',
            link: {
              webUrl: "http://sol-studio.kro.kr:5000/redirect?url={{ url }}"
            },
          },
        });
      }
    </script>
  </head>
  <body>
      <input type="button" onClick="sendLinkDefault();" value="Default"/>
  </body>
</html>
