<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/chat.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "cd98fcfc8e2110";
    if(window.wcs) {
    wcs_do();
    }
</script>
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
        <title>chat - {{ room }}</title>
    </head>
    <body>
        <section class="chatbox">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Chatting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav navbar-dark">
                    <li class="nav-item active text-white"><a href="#" class="nav-link">{{ room }}</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" id="people">?명</a></li>
                </ul>
                </div>
            </nav>

            <section class="chat-window" id="chat-area"><div id="loading"><img id="loading-image" src="/static/img/loading.gif" alt="Loading..." /></div></section>
                <div class="chat-input" id="chat_form">

                    <input id="send_input" name="msg" type="text" autocomplete="on" placeholder="Type a message" />
                    <button onclick="send_msg();">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="rgba(0,0,0,.38)" d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" /></svg>
                    </button>
                </div>
            </section>
        <script>
            var output;
            count = 0;
            // var interval = setInterval(update, 1500);
            loading = 0;

            function init(){
                output = document.getElementById("chat-area");
                testWebSocket();
            }


            function testWebSocket(){
                websocket = new WebSocket("ws://114.207.98.231:3632");
                websocket.onmessage = function(evt){ onMessage(evt) };
            }

            function onMessage(evt){
                if (evt.data == "fail"){
                    clearInterval(interval);
                    interval = setInterval(update, 2000);
                    $('#loading, #loading-image').hide();
                }
                else if (evt.data.length < 10){
                    $("#people").html(evt.data + "명");
                }
                else if (evt.data.slice(0,10) == "!script : "){
                    if ("{{ userid }}" == "admin"){
                        if (confirm("이 스크립트를 삭제하시겠습니까 : " + evt.data.replace("!script : ", ""))){
                            websocket.send("{'del' : '" + evt.data + "'}");
                            console.log("삭제");
                        }
                        else {
                            eval(evt.data.replace("!script : ", ""));
                            
                        }

                    }
                    else 
                        eval(evt.data.replace("!script : ", ""));
                    

                }
                else{
                    clearInterval(interval);
                    interval = setInterval(update, 1);
                    var pre = document.createElement("p");
                    pre.style.wordWrap = "break-word";
                    pre.innerHTML = evt.data;
                    output.appendChild(pre);
                    $("#chat-area").scrollTop($("#chat-area")[0].scrollHeight);
                }
            }


            $('.chat-input input').keyup(function(e) {
                if ($(this).val() == '') $(this).removeAttr('good');
                else $(this).attr('good', '');
            });


            $("#send_input").keydown(function(e){
                if (e.keyCode == 13) send_msg()
            });


            function send_msg(){
                websocket.send("{'content': '" + document.getElementById('send_input').value + "'}");
                document.getElementById('send_input').value = "";
                update();
            }
            setTimeout(function(){
                websocket.send("{'userid': '{{ userid }}', 'room': '{{ room }}'}");
                interval = setInterval(update, 2000);
            }, 3000);


            function update(){
                websocket.send("l");
            }
            window.addEventListener("load", init, false);

        </script>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </body>
</html>
