<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <title>EBS온라인클래스(Quiz)</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/quiz/main.css" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8112542064837410" crossorigin="anonymous"></script><script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
		<script type="text/javascript">
			if(!wcs_add) var wcs_add = {};
			wcs_add["wa"] = "cd98fcfc8e2110";
			if(window.wcs) {
			wcs_do();
			}
		</script>
        <noscript><link rel="stylesheet" href="/static/quiz/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
		<div id="wrapper" class="divided">
			<section class="wrapper style1 align-center">
				<div class="inner">
					<div class="index align-left">
						<h2><a href="/quiz/list"><img src="/static/quiz/logo_ebs.png" width="228" /></a></h2>
						<section>
							<div class="content">
								{% if name == "admin" %}
								<h4>{{ length }}개의 모든 퀴즈(관리자)</h4>
								{% else %}
								<h4>{{ name }}님께서 최근출제한 퀴즈({{ length }}개)</h4>
								{% endif %}
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>#</th>
												<th>퀴즈타입</th>
												<th>퀴즈문제</th>
												<th>등록일시</th>
												{% if name == "admin" %}
													<th>(관리자) 삭제</th>
												{% endif %}
											</tr>
										</thead>
										<tbody>
										{% for idx in range(length) %}
											<tr style = "cursor:pointer;" onclick="window.location = '/quiz/answer?qno={{ l[idx]['id'] }}'">
												<td>{{ idx + 1 }}</td>
												<td>{{ l[idx]['type'] }}</td>
												<td>{{ l[idx]['q'] }}</td>
												<td>{{ l[idx]['time'] }}</td>
												{% if name == "admin" %}
													<th><a href="/quiz/del?qno={{ l[idx]['id'] }}">삭제</a></th>
												{% endif %}
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		</div>
		<script src="/static/quiz/jquery.min.js"></script>
		<script src="/static/quiz/jquery.scrollex.min.js"></script>
		<script src="/static/quiz/jquery.scrolly.min.js"></script>
		<script src="/static/quiz/browser.min.js"></script>
		<script src="/static/quiz/breakpoints.min.js"></script>
		<script src="/static/quiz/util.js"></script>
		<script src="/static/quiz/main.js"></script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
        </script>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    </body>
</html>
