<!DOCTYPE HTML>
<html lang="ko">
	<head>
		<title>EBS온라인클래스(Quiz)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/quiz/main.css" />
		<noscript><link rel="stylesheet" href="/static/quiz/noscript.css" /></noscript>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8112542064837410" crossorigin="anonymous"></script><script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
        <script type="text/javascript">
            if(!wcs_add) var wcs_add = {};
            wcs_add["wa"] = "cd98fcfc8e2110";
            if(window.wcs) {
            wcs_do();
            }
        </script>
	</head>
	<body class="is-preload">
        <div id="wrapper" class="divided">
            <section class="wrapper style1 align-center">
                <div class="inner">
                    <div class="index align-left">
                        <h2><a href="/quiz/question?qno={{ q['id'] }}"><img src="/static/quiz/logo_ebs.png" width="228" /></a></h2>
                        <section>
                            <div class="content">
                                <h2>Quiz</h2>
                                <p class="display-name">{{ name }} 님 아래 퀴즈를 풀어주세요.</p>
                                <form method="post" action="#">
                                {% if q["type"] == '0' %}


                                    <!-- OX 퀴즈 -->
                                    <h4>[O/X퀴즈] {{ q["q"] }}</h4>
                                    <div class="fields">
                                        <div class="field half" id="answer-o_field">
                                            <input type="radio" id="answer-o" name="answer_is" value="O">
                                            <label for="answer-o">O(예)</label>
                                        </div>
                                        <div class="field half" id="answer-x_field">
                                            <input type="radio" id="answer-x" name="answer_is" value="X">
                                            <label for="answer-x">X(아니요)</label>
                                        </div>
                                    </div>


                                {% elif q["type"] == '1' %}


                                    <!-- 5지선다형 퀴즈 -->
                                    <h4>[5지선다형] {{ q['q'] }}</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>보기</th>
                                                <th>선택</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for idx in range(5) %}
                                                <tr>
                                                    <td>{{ q["look"][idx] }}</td>
                                                    <td>
                                                        <div class="field penta" id="answer_{{ idx + 1 }}_is_field">
                                                            <input type="radio" id="answer_{{ idx + 1 }}_is" name="answer_is" value="{{ idx + 1 }}">
                                                            <label for="answer_{{ idx + 1 }}_is">지문{{ idx + 1 }}</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>


                                {% elif q["type"] == '2' %}


                                    <!-- 단답형 퀴즈 -->
                                    <h4>[단답형] {{ q['q'] }}</h4>
                                    <div class="fields">
                                        <div class="field" id="answer_field">
                                            <label for="answer">답을 입력하세요</label>
                                            <input type="text" name="answer_is" id="answer" value="">
                                        </div>
                                    </div>


                                {% endif %}


                                    <br>
                                    <h4>이름을 입력해주세요</h4>
                                    <textarea name="name" id="name">{{ name }}</textarea>
                                    <ul class="actions">
                                        <li><input type="submit" class="button primary icon solid fa-pen"></li>
                                        <li><a href="#" name="close" id="close" class="button icon solid fa-times">창닫기</a></li>
                                    </ul>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>

        <script src="/static/quiz/jquery.min.js"></script>
        <script src="/static/quiz/jquery.scrollex.min.js"></script>
        <script src="/static/quiz/jquery.scrolly.min.js"></script>
        <script src="/static/quiz/browser.min.js"></script>
        <script src="/static/quiz/breakpoints.min.js"></script>
        <script src="/static/quizs/util.js"></script>
        <script src="/static/quiz/main.js"></script>
				{% with messages = get_flashed_messages() %}
		    {% if messages %}
		        <script>
		        {% for message in messages %}
		            alert("{{ message }}");
		        {% endfor %}
		        </script>
		    {% endif %}
		    {% endwith %}
		    {% block body %}{% endblock %}
        <script type="text/javascript">
            // 이 코드를 수정해서 글자수를 초과할 경우, 예고없이 삭제되고, 차단 될 수 있습니다.
            $(document).ready(function() {
                var ec = document.getElementsByClassName("display-name");
                $('#name').on('keyup', function() {
                    ec[0].innerHTML =$(this).val() + "님 아래 퀴즈를 풀어주세요.";
                });
            });
        </script>
        {% if close %}
            <script>
                self.close();
            </script>
        {% endif %}
        <footer>
            <center>
                by 최유찬
            </center>
        </footer>
	</body>
</html>
