<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/slide.css">
<div class="slide">
    <center>
        <table>
            <thead>
                <th id="title">2. 파이썬</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://python.org/static/img/python-logo.png" width="95%"></td>
                    <td><img src="https://windybay.net/media/uploads/2020/03/06/image_EXjswNR.png" width="95%"></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
<script>
    window.addEventListener("keydown", function(e) {
        if (e.key == "ArrowRight"){
            window.location = "5";
        }
        if (e.key == "ArrowLeft"){
            window.location = "3";
        }
    });
    window.addEventListener("click", function() {
            window.location = "5";
    });
</script>