<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/slide.css">
<div class="slide">
    <center>
        <table>
            <thead>
                <th id="title">3. HTML, CSS, JS</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://t1.daumcdn.net/cfile/tistory/995A17455A409C9A28" width="100%"></td>
                    <td><img style="margin-left: 3rem" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/83/e258e0532611e5a5072321239ff4d4/jhep-coursera-course4.png" width="75%"></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
<script>
    window.addEventListener("keydown", function(e) {
        if (e.key == "ArrowRight"){
            window.location = "6";
        }
        if (e.key == "ArrowLeft"){
            window.location = "4";
        }
    });
    window.addEventListener("click", function() {
            window.location = "6";
    });
</script>