<body  style="margin: 0px;">
    <iframe src="http://sol-studio.tk/" width="99%" height="99%"></iframe>
    <a href="7">다음</a>
    <script>
        window.addEventListener("keydown", function(e) {
            if (e.key == "ArrowRight"){
                window.location = "7";
            }
            if (e.key == "ArrowLeft"){
                window.location = "5";
            }
        });
        window.addEventListener("click", function() {
                window.location = "7";
        });
    </script>
    </body>
    