<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/slide.css">
<style>
    td {
        width: 33%;
    }    
</style>
<div class="slide">
    <center>
        <table>
            <thead>
                <th id="title">마무리</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" width="80%"></td>
                    <td><img src="//t1.kakaocdn.net/kakaocorp/Service/KakaoTalk/svclogo_kakaotalk.png" width="100%"></td>
                    <td><img src="https://sf16-scmcdn-sg.ibytedtos.com/goofy/tiktok/web/node/_next/static/images/logo-whole-c555aa707602e714ec956ac96e9db366.svg" width="90%"></td>
                </tr>
                <tr>
                    <td><img src="//w.namu.la/s/272c638c8e16264bf86d1f7597b2aafc9d4cc251045b0761057f0525eb44662a70117c9e9f92653dee7447094eee067042cfc6450552fb801c96ca6955c70e05cb9b68c5c9863f12131d7e79dc5fbc17da268a945fc36fdf419cd574166cc910" width="76%"></td>
                    <td><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" width="100%"></td>
                    <td><img src="https://blog.kakaocdn.net/dn/CHb0U/btqxrW04Y5b/mzimBHhLuGMBYvCS33uyh0/img.jpg" width="60%"></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
<script>
    window.addEventListener("keydown", function(e) {
        if (e.key == "ArrowRight"){
            window.location = "9";
        }
        if (e.key == "ArrowLeft"){
            window.location = "7";
        }
    });
    window.addEventListener("click", function() {
            window.location = "9";
    });
</script>
