<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/slide.css">
<div class="slide">
    <div style="padding-top: 15rem;">
        <h1 style="text-align: center; color:white; font-size: 10rem;">
            감사합니다
        </h1>
        <h3 style="text-align: center; color:white; font-size: 5rem;">
            20131 최유찬
        </h3>
    </div>
</div>
<script>
    window.addEventListener("keydown", function(e) {
        if (e.key == "ArrowRight"){
            window.location = "2";
        }
    });
    window.addEventListener("click", function() {
            window.location = "2";
    });
</script>