<!doctype>
<html>
  <head>
    <title>sol-studio - home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  </head>
  <body>
    {% if logined %}
      <h2>{{ logined }}님 안녕하세요</h2>
      <ul style="list-style: none;margin-left:-30px">
        <li><a href="/board">게시판 가기</a></li>
        <li><a href="/ai">ai(테스트서버에서만 실행 가능)</a></li>
        <li><a href="/my-profile">내 프로필</a></li>
        <li><a href="/logout">로그아웃</a></li>
      </ul>
      
    {% else %}
      <h2><a href="/login">로그인이 필요합니다</a></h2>
    {% endif %}
  </body>
</html>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  {% for message in messages %}
    alert('{{ message }}');
  {% endfor %}
</script>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}