<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>로그인</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form accept-charset="UTF-8" role="form" method="post" action="/login">
                <legend>로그인</legend>
                한번의 로그인으로 모든 기능을 사용하세요. 10시간동안 아무 활동이 없으면 자동으로 로그아웃됩니다.
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <label for="form-control">ID</label></div>
                                    {{form.id(class="form-control", placeholder="ID")}}
                            </td>
                        </tr>
                        <tr><td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <label for="form-control">PASSWORD</label></div>
                                {{form.pw(class="form-control", placeholder="PASSWORD")}}
                        </td></tr>
                    <tr><td></td></tr>
                    </tbody>
                </table>

                <button type="submit" id="login-submit" class="btn btn-light">로그인</button>
                <div class="form-group">
                    <a href="/signup" class="btn btn-light"> 회원가입</a>
                </div>
            </form>
        </div>
    </body>
</html>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      {% for message in messages %}
        alert('{{ message }}');
      {% endfor %}
    </script>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}