<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<video id="video" width="320" height="240" autoplay></video> 
<canvas id="canvas" width="960" height="720"></canvas> 
<script> 
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) { 
	navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
 		var video = document.getElementById('video');
 		video.srcObject = stream;
 		video.play();
 	}); 
}  
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d'); 
var video = document.getElementById('video'); 

setInterval(function() {context.drawImage(video,0,0,960,720);}, );
</script>