<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link href="/static/img/icon.ico" rel="shortcut icon" type="image/x-icon">
<title>게시판 - {{ post['title'] }}</title>
<style>
    .content{
        border-style: groove;
        width: 97%;
        min-height: 80%;
        margin: auto;
    }
    h1{
        margin-left: 2%;
    }
    h5{
        margin-left:3%;
    }
</style>
<a href="/board/list/{{ page }}">이전</a>
<h1>{{ post['title'] }}</h1>
<br>
<h5 style="margin-top: -2%;">글쓴이 : {{ post['author'] }}</h5><br>
<h5 style="margin-top: -2%;">TIME  : {{ post['time'] }}</h5><br>
<h5 style="margin-top: -2%;">ID    : {{ post['url'] }}</h5><br>
{% if id == "admin" %}
<h5 style="margin-top: -2%;">IP    : {{ post['ip'] }}</h5>
{% endif %}
<div class="content">
        {{ post['content'] }}
</div>
<div class="container"><div id="disqus_thread"></div><div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sol-studio-tk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="/board/list/{{ page }}/{{ post['url'] }}/delete">삭제</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
    </script>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
