<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link href="/static/img/icon.ico" rel="shortcut icon" type="image/x-icon">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<title>게시판 - {{ post['title'] }}</title>
<style>
    .content{
        width: 97%;
        min-height: 20%;
        margin: auto;
    }
    h1{
        margin-left: 2%;
    }
    h5{
        margin-left:3%;
    }
</style>
<a href="/board/list/{{ page }}">이전</a>
<h1>{{ post['title'] }}</h1>
<br>
<h5 style="margin-top: -2%;">글쓴이 : {{ post['author'] }}</h5><br>
<h5 style="margin-top: -2%;">TIME  : {{ post['time'] }}</h5><br>
<h5 style="margin-top: -2%;">ID    : {{ post['url'] }}</h5><br>
{% if id == "admin" %}
<h5 style="margin-top: -2%;">IP    : {{ post['ip'] }}</h5>
{% endif %}
<hr style="border: solid 1px rgb(20,20,20);">
<div class="content">
        {{ post['content'] }}
</div>
<hr style="border: solid 1px rgb(20,20,20);">
<div id="comment"></div>
<script>
    $("#comment").load("/comment/load?url=" + window.location.pathname)
</script>
<a href="/board/post/{{ post['url'] }}/delete?v={{ page }}">글 삭제</a>



{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
    </script>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
