<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link href="/static/img/icon.ico" rel="shortcut icon" type="image/x-icon">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<title>게시판 - {{ post['title'] }}</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8112542064837410" crossorigin="anonymous"></script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "cd98fcfc8e2110";
    if(window.wcs) {
    wcs_do();
    }
</script>

<h1>{{ post['title'] }}</h1>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" class="avatar" alt="user_icon" style="list-style-type: none;opacity: 1;border-radius: 4px;position: relative;float: left;margin-left: 0;margin-top: 0;width: 65px;height: 65px;">
<h5 style="margin-top: -2px;">{{ post['author'] }}</h5>
<h5 style="margin-top: -20px;color:gray">{{ post['time'] }}</h5>
{% if id == "admin" %}
<h5 style="margin-top: -2px">IP    : {{ post['ip'] }}</h5>
{% endif %}

<hr style="margin-top: 30px;border: solid 1px rgb(150, 150, 150);">
<div class="content">
        {{ post['content'] | safe }}
</div>

<br><br>
<ul>
{% for tag in post["tags"] %}
    <li class='tag-item' onclick="location = '/board/list/1?tag={{ tag }}'">#{{ tag }}</li>
{% endfor %}
</ul>
<br><br>

<div id="comment"></div>
<script>
    $("#comment").load("/comment/load?url=" + window.location.pathname)
</script>
<a href="#" onclick="del_post('{{ post['url'] }}');">글 삭제</a>
<a href="/board/post/edit/{{ post['url'] }}">글 수정</a>
<script>
    function del_post(id){
        if (confirm("정말 삭제하시겠습니까?")){
            $.get("/board/post/delete/" + id);
            window.location = "/board/list/{{ page }}";
        }
    }
    
</script>
<style>

    

ul {
    padding: 16px 0;
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    letter-spacing: -.5px;
}

form {
    padding-top: 16px;
}

ul li.tag-item {
    padding: 4px 8px;
    background-color: #777;
    color: #fff;
    cursor: pointer;
}

.tag-item:hover {
    background-color: #262626;
    color: #fff;
}
</style>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
    </script>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
