<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
<table class="table-hover table">
  <thead>
    <tr>
      <th>IP</th>
      <th>ID</th>
      <th>URL</th>
      <th>ACTION</th>
      <th>TIME</th>
      <th>MANAGE</th>
    </tr>
  </thead>
  <tbody>
    {% for key in keys %}
    <tr style = "cursor:pointer;" onClick = "location.href='/manage/{{ key }}'" name='{{ key }}'>
      <td>{{ key }}</td>
      <td>{{ ips[key]["id"] }}</td>
      <td>{{ ips[key]["url"] }}</td>
      <td>{{ ips[key]["action"] }}</td>
      <td>{{ ips[key]["last"] }}</td>
      <td>
          <a href="?cmd=del {{key}}">삭제</a> /
          {% if key in blacklist %}<a href="?cmd=unblock {{key}}">차단 해제</a>
          {% else %}<a href="?cmd=block {{key}}">차단</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br><br><br><br><br><br><h1>블랙리스트</h1>
<table class="table table-hover">
    <thead>
        <th>IP</th>
        <th>MANAGE</th>
    </thead>
    <tbody>
        {% for black in blacklist %}
            <tr>
                <td>
                    {{ black }}
                </td>
                <td>
                    <a href="/manage?cmd=unblock {{ black }}">차단 해제</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
</div>
